body {
    font-family: Arial, sans-serif;
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    background-color: #fffdf9;
    margin-bottom: 15px;
}

.offers-search-and-select {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.offers-search-input, .addproduct-selector {
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
    outline: none;
}

.offers-search-input:focus, .addproduct-selector:focus {
    border-color: #62b991;
}

.offers h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.offers-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.offer-link {
    text-decoration: none;
    color: inherit;
}

.offer-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: #EFDCCE;
    width: 200px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}


.offer-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.offer-details {
    flex: 1;
    text-align: center;
    width: 100%;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.addToCartMain-button {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    color: whitesmoke;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: #62b991;
    cursor: pointer;
}

.offer-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .offer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}