.all-users{
    width: 100%;
    height: 70vh;
    background: #EFDCCE;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    
}

.all-users-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.all-users-container {
    max-width: 900px;
    width: 100%;
    height: 500px;
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.all-users-container h1{
    font-size: 20px;
    font-weight: 500;
    color: #454545;
    margin-left: 15px;
   
}

.allusers-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:55px;
    width: 100%;
    padding: 15px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    
}

.allusers-format{
    align-items: center;
    font-weight:300;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr ;
    gap:10px;
    width: 100%;
    padding: 15px 0px;
    color: #454545;
    font-size: 15px;
    margin-left: 30px;
}

.all-users-container::-webkit-scrollbar {
    display: none;
}

.all-users-container:hover {
    scrollbar-width: thin;
    
}

.all-users-container:hover::-webkit-scrollbar {
    display: block;
    width: 12px;
}

.all-users-container:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.all-users-container:hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.remove-user-button-remove-icon{
    height: 20px;
    cursor: pointer;
    margin: auto;
}

.allusers-list hr{
    max-width: 900px;
    width: 100%;
}

